{% extends "base.html" %}
{% block  content  %}


        <center>
            <h1>Perform screen docking</h1>
            <form class="dock" action="/dock" method="post" enctype="multipart/form-data">
                <label for="protein_id">Protein ID</label>
                <input name="protein_id" id = "protein_id">
                <label for="ligand_id">Ligand ID from PubChem</label>
                <input name="ligand_id" id = "ligand_id" />
                <hr/>
                <input class="dock" type="submit" >
            </form>
        </center>

{% endblock %}