
{% extends "base.html" %}

{% block  content  %}


        <center>
            <h1>Welcome to Laboratory of Biomaterials applications website</h1>
             <img src="../static/cover.png" alt="cover" width="600">
            <form class="Space-screening docking" action="/docking" method="get" enctype="multipart/form-data">
                <input class = "button1" type="submit" value="Space-screening docking">
            </form>
            <form class="Merge_page" action="/merger" method="get" enctype="multipart/form-data">
                <input class = "button1" type="submit" value="Protein-Ligand merger">
            </form>
        </center>


{% endblock %}

